{% extends "base.html.twig" %}
{% block body %}<body>
	 
    
	
		 <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
     
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			<!-- ======================= Home Banner ======================== -->
			<div class="home-banner margin-bottom-0" style="background:#f41b3b url({{asset('front/themezhub.net/goodup-live/goodup/assets/img/banner-3.jpg')}}) no-repeat;" data-overlay="5">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-11 col-lg-12 col-md-12 col-sm-12 col-12">
							
							<div class="banner_caption text-center mb-5">
								<h1 class="banner_title ft-bold mb-1">Find Great Place in Your Areas</h1>
								<p class="fs-md ft-medium">Explore wonderful place to visit local areas.</p>
							</div>
							
							<form class="main-search-wrap fl-wrap">
								<div class="main-search-item">
									<span class="search-tag"><i class="lni lni-keyboard"></i></span>
									<input type="text" class="form-control radius" placeholder="fastFood, restaurant, takeout..." />
								</div>
								<div class="main-search-item">
									<span class="search-tag"><i class="lni lni-map-marker"></i></span>
									<input type="text" class="form-control" placeholder="Tunisia, Ariana" />
								</div>
								<div class="main-search-item">
									<span class="search-tag"><i class="lni lni-briefcase"></i></span>
									<select class="form-control">
										<option value="">Choose Categories</option>
										<option value="1">Restaurants</option>
										<option value="2">Cafe</option>
										<option value="3">takeout</option>
									
									</select>
								</div>
								<div class="main-search-button">
									<button class="btn full-width theme-bg text-white" type="button">Search</button>
								</div>
							</form>
							
						</div>
					</div>
				</div>
			</div>
			<!-- ======================= Home Banner ======================== -->
			
			
			
			<!-- ======================= All Types Listing ======================== -->
			<section class="space min">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="sec_title position-relative text-center mb-5">
								<h6 class="text-muted mb-0">Featured Listings</h6>
								<h2 class="ft-bold">Goodup in <span class="theme-cl">Tunisia</span></h2>
							</div>
						</div>
					</div>
					
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<ul class="nav nav-tabs small-tab mb-3" id="myTab" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link active" id="angeles-tab" data-bs-toggle="tab" data-bs-target="#angeles" type="button" role="tab" aria-selected="true">Menzah</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="diego-tab" data-bs-toggle="tab" data-bs-target="#diego" type="button" role="tab" aria-selected="false">Enasser</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="austin-tab" data-bs-toggle="tab" data-bs-target="#austin" type="button" role="tab" aria-selected="false">l'Aouina</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="lexington-tab" data-bs-toggle="tab" data-bs-target="#lexington" type="button" role="tab" aria-selected="false">Lac</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="chicago-tab" data-bs-toggle="tab" data-bs-target="#chicago" type="button" role="tab" aria-selected="false">Marsa</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="scottsdale-tab" data-bs-toggle="tab" data-bs-target="#scottsdale" type="button" role="tab" aria-selected="false">Ariana</button>
								</li>
								
							</ul>	
						</div>
					</div>
					
					<div class="row justify-content-center">

						<!-- Single -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="Goodup-grid-wrap">
								<div class="Goodup-grid-upper">
									<div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
									<div class="Goodup-pos ab-left">
										<div class="Goodup-status open me-2">Open</div>
									</div>
									<div class="Goodup-grid-thumb">
										<a href="single-listing-detail-3.html" class="d-block text-center m-auto"><img src={{asset('front/themezhub.net/goodup-live/goodup/assets/img/l-7.jpg')}} class="img-fluid" alt=""></a>
									</div>
									<div class="Goodup-rating overlay">
										<div class="Goodup-pr-average poor">2.4</div>
										<div class="Goodup-aldeio">
											<div class="Goodup-rates">
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
											</div>
											<div class="Goodup-all-review"><span>19 Reviews</span></div>
										</div>
									</div>
								</div>
								<div class="Goodup-grid-fl-wrap">
									<div class="Goodup-caption px-3 py-2">
										<div class="Goodup-author"><a href="author-detail.html"><img src={{asset('front/themezhub.net/goodup-live/goodup/assets/img/t-7.png')}} class="img-fluid circle" alt=""></a></div>
										<div class="Goodup-cates multi"><a href="search.html" class="cats-1">Cafe</a><a href="search.html" class="cats-2">Coffee</a><a href="search.html">+1</a></div>
										<h4 class="mb-0 ft-medium medium"><a href="single-listing-detail-3.html" class="text-dark fs-md">Pizza Pure Delight Cafe<span class="verified-badge"><i class="fas fa-check-circle"></i></span></a></h4>
										<div class="Goodup-middle-caption mt-3">
											<div class="Goodup-location"><i class="fas fa-map-marker-alt"></i>Lac</div>
											<div class="Goodup-call"><i class="fas fa-phone-alt"></i>+216 25565898</div>
										</div>
									</div>
									<div class="Goodup-grid-footer py-2 px-3">
										<div class="Goodup-ft-first">
											<div class="Goodup-price-range">
												<span class="active"><i class="fas fa-dollar-sign"></i></span>
												<span class="active"><i class="fas fa-dollar-sign"></i></span>
												<span class="active"><i class="fas fa-dollar-sign"></i></span>
												<span><i class="fas fa-dollar-sign"></i></span>
											</div>
										</div>
										<div class="Goodup-ft-last">
											<div class="Goodup-inline">
												<div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-envelope position-absolute"></i></button></div>
												<div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-zoom-in"></i></button></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Single -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="Goodup-grid-wrap">
								<div class="Goodup-grid-upper">
									<div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
									<div class="Goodup-pos ab-left">
										<div class="Goodup-status close me-2">Closed</div>
										<div class="Goodup-featured-tag">Featured</div>
									</div>
									<div class="Goodup-grid-thumb">
										<a href="single-listing-detail-3.html" class="d-block text-center m-auto"><img src={{asset('front/themezhub.net/goodup-live/goodup/assets/img/m-5.png')}} class="img-fluid" alt=""></a>
									</div>
									<div class="Goodup-rating overlay">
										<div class="Goodup-pr-average high">4.5</div>
										<div class="Goodup-aldeio">
											<div class="Goodup-rates">
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
											</div>
											<div class="Goodup-all-review"><span>25 Reviews</span></div>
										</div>
									</div>
								</div>
								<div class="Goodup-grid-fl-wrap">
									<div class="Goodup-caption px-3 py-2">
										<div class="Goodup-author"><a href="author-detail.html"><img src={{asset('front/themezhub.net/goodup-live/goodup/assets/img/t-8.png')}} class="img-fluid circle" alt=""></a></div>
										<div class="Goodup-cates multi"><a href="search.html" class="cats-1">food</a><a href="search.html" class="cats-2">fast food</a></div>
										<h4 class="mb-0 ft-medium medium"><a href="single-listing-detail-3.html" class="text-dark fs-md">Chaneb<span class="verified-badge"><i class="fas fa-check-circle"></i></span></a></h4>
										<div class="Goodup-middle-caption mt-3">
											<div class="Goodup-location"><i class="fas fa-map-marker-alt"></i>Enasser</div>
											<div class="Goodup-call"><i class="fas fa-phone-alt"></i>+216 75698898</div>
										</div>
									</div>
									<div class="Goodup-grid-footer py-2 px-3">
										<div class="Goodup-ft-first">
											<div class="Goodup-price-range">
												<span class="active"><i class="fas fa-dollar-sign"></i></span>
												<span class="active"><i class="fas fa-dollar-sign"></i></span>
												<span><i class="fas fa-dollar-sign"></i></span>
												<span><i class="fas fa-dollar-sign"></i></span>
											</div>
										</div>
										<div class="Goodup-ft-last">
											<div class="Goodup-inline">
												<div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-envelope position-absolute"></i></button></div>
												<div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-zoom-in"></i></button></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				
				</div>
			</section>
			<!-- ======================= All Types Listing ======================== -->
			
			<!-- ======================= Listing Categories ======================== -->
			<section class="space min gray">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="sec_title position-relative text-center mb-5">
								<h6 class="mb-0 theme-cl">Popular Categories</h6>
								<h2 class="ft-bold">Browse Top Categories</h2>
							</div>
						</div>
					</div>
					
					<!-- row -->
					<div class="row align-items-center">
						
						
						
						
						
						
						
						
						
						
						
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="cats-wrap text-center">
								<a href="half-map-search-1.html" class="Goodup-catg-wrap">
									<div class="Goodup-catg-city">26 Cities</div>
									<div class="Goodup-catg-icon"><i class="fas fa-utensils"></i></div>
									<div class="Goodup-catg-caption">
										<h4 class="fs-md mb-0 ft-medium m-catrio">Restaurants</h4>
										<span class="text-muted">172 Listings</span>
									</div>
								</a>
							</div>
						</div>
						
					
						
				
						
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="cats-wrap text-center">
								<a href="half-map-search-1.html" class="Goodup-catg-wrap">
									<div class="Goodup-catg-city">18 Cities</div>
									<div class="Goodup-catg-icon"><i class="fas fa-wine-glass"></i></div>
									<div class="Goodup-catg-caption">
										<h4 class="fs-md mb-0 ft-medium m-catrio">Event Palnning</h4>
										<span class="text-muted">241 Listings</span>
									</div>
								</a>
							</div>
						</div>
						
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
							<div class="cats-wrap text-center">
								<a href="half-map-search-1.html" class="Goodup-catg-wrap">
									<div class="Goodup-catg-city">06 Cities</div>
									<div class="Goodup-catg-icon"><i class="fas fa-car-alt"></i></div>
									<div class="Goodup-catg-caption">
										<h4 class="fs-md mb-0 ft-medium m-catrio">Automotive</h4>
										<span class="text-muted">52 Listings</span>
									</div>
								</a>
							</div>
						</div>
						
					
						
					
						
					</div>
					<!-- row -->
					
				</div>
			</section>
			<!-- ======================= Listing Categories End ======================== -->
			
			
			
			
			
			
			
			
			
			
			<!-- ======================= Newsletter Start ============================ -->
			<section class="space bg-cover" style="background:#03343b url({{asset('front/themezhub.net/goodup-live/goodup/assets/img/landing-bg.png')}}) no-repeat;">
				<div class="container py-5">
					
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="sec_title position-relative text-center mb-5">
								<h6 class="text-light mb-0">Subscribr Now</h6>
								<h2 class="ft-bold text-light">Get All Updates & Advance Offers</h2>
							</div>
						</div>
					</div>
					
					<div class="row align-items-center justify-content-center">
						<div class="col-xl-7 col-lg-10 col-md-12 col-sm-12 col-12">
							<form class="bg-white rounded p-1">
								<div class="row no-gutters">
									<div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-8">
										<div class="form-group mb-0 position-relative">
											<input type="text" class="form-control b-0" placeholder="Enter Your Email Address">
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-4">
										<div class="form-group mb-0 position-relative">
											<button class="btn full-width btn-height theme-bg text-light fs-md" type="button">Subscribe</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					
				</div>
			</section>
			<!-- ======================= Newsletter Start ============================ -->
			
			<!-- ============================ Footer Start ================================== -->
			
			
			<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
				<div class="modal-dialog login-pop-form" role="document">
					<div class="modal-content" id="loginmodal">
						<div class="modal-headers">
							<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
							  <span class="ti-close"></span>
							</button>
						  </div>
					
						<div class="modal-body p-5">
							<div class="text-center mb-4">
								<h4 class="m-0 ft-medium">Login Your Account</h4>
							</div>
							
							<form class="submit-form">				
								<div class="form-group">
									<label class="mb-1">User Name</label>
									<input type="text" class="form-control rounded bg-light" placeholder="Username*">
								</div>
								
								<div class="form-group">
									<label class="mb-1">Password</label>
									<input type="password" class="form-control rounded bg-light" placeholder="Password*">
								</div>
								
								<div class="form-group">
									<div class="d-flex align-items-center justify-content-between">
										<div class="flex-1">
											<input id="dd" class="checkbox-custom" name="dd" type="checkbox" checked>
											<label for="dd" class="checkbox-custom-label">Remember Me</label>
										</div>	
										<div class="eltio_k2">
											<a href="#" class="theme-cl">Lost Your Password?</a>
										</div>	
									</div>
								</div>
								
								<div class="form-group">
									<button type="submit" class="btn btn-md full-width theme-bg text-light rounded ft-medium">Sign Up</button>
								</div>
								
								<div class="form-group text-center mb-0">
									<p class="extra">Or login with</p>
									<div class="option-log">
										<div class="single-log-opt"><a href="javascript:void(0);" class="log-btn"><img src="assets/img/c-1.png" class="img-fluid" alt="" />Login with Google</a></div>
										<div class="single-log-opt"><a href="javascript:void(0);" class="log-btn"><img src="assets/img/facebook.png" class="img-fluid" alt="" />Login with Facebook</a></div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<a id="tops-button" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->		

	</body>
    {% endblock %} 

