{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
                                        <div class="billing-address-form">
                                                    {{ form_widget(form.text,{ 'attr':{'placeholder':'Enter la reponse ..','class': 'form-control'} }) }}
                                                    {{ form_errors(form.text) }}
                                        </div>
                                        <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

