{% extends 'base.html.twig' %}
{% block body %}
		<!-- ======================= Login Detail ======================== -->
			<section style="background:#353535  url({{asset('front/themezhub.net/goodup-live/goodup/assets/img/lg-2.png')}});">
				<div class="container">
					<div class="row align-items-start justify-content-center">
						<div class="col-xl-6 col-lg-8 col-md-12">
							
							<div class="signup-screen-wrap">
								<div class="signup-screen-single light">
									<div class="text-center mb-4">
										<h4 class="m-0 ft-medium">Create An Account</h4>
									</div>
									{{ form_start(registrationForm ) }} 
                              

									<form class="submit-form">
	
										<div class="row">
										<div class="col-6">
												<div class="form-group">
													<label class="mb-1">First Name</label>
													
                         {{ form_widget(registrationForm.name, {
       					 attr: {
            			class: 'form-control rounded'}
}) }}<small > {{ form_errors(registrationForm.name) }}</small>
 
												</div>
											</div>
											<div class="col-6">
												<div class="form-group">
												<label class="mb-1">Last Name</label>
                                                
												 {{ form_widget(registrationForm.lastName, {
        attr: {
            class: 'form-control rounded'
          
        }
    }) }}
    <small> {{ form_errors(registrationForm.lastName) }}</small>
											</div>
											</div>
										</div>
										<div class="row">
										<div class="col-6">
												<div class="form-group">
													<label class="mb-1">UserName</label>
													
                         {{ form_widget(registrationForm.username, {
       					 attr: {
            			class: 'form-control rounded'}
}) }}
<small> {{ form_errors(registrationForm.username) }}</small>
												</div>
											</div>
											<div class="col-6">
												<div class="form-group">
												<label class="mb-1">Email ID</label>
                                                
												 {{ form_widget(registrationForm.email, {
        attr: {
            class: 'form-control rounded'
          
        }
    }) }}
  <small> {{ form_errors(registrationForm.email) }}</small>
											</div>
											</div>
										</div>
										<div class="row">
										<div class="col-6">
										<div class="form-group">
											<label class="mb-1">Phone Number</label>
											{{ form_widget(registrationForm.phone, {
        attr: {
            class: 'form-control rounded'
            
        }
    }) }}
    <small> {{ form_errors(registrationForm.phone) }}</small>
                                          
                                        </div>
										</div>
											<div class="col-6">
													<div class="form-group">
														<label class="mb-1">Roles</label>
														
														{{ form_widget(registrationForm.roles, {
        attr: {
            class: 'form-control rounded'
            
        },
            expanded: false,  
            multiple: false,  
    }) }}
    <small> {{ form_errors(registrationForm.roles) }}</small>
													</div>
												</div>
												</div>
												<div class="form-group">
											<label class="mb-1">Image</label>
											{{ form_widget(registrationForm.img, {
        attr: {
            class: 'form-control rounded'
            
        }
    }) }}
    <small> {{ form_errors(registrationForm.img) }}</small>
                                          
                                        </div>
										
										<div class="form-group">
											<label class="mb-1">Password</label>
                                            {{ form_widget(registrationForm.plainPassword, {
        attr: {
            class: 'form-control rounded'
           
        },
        label: 'Password'
    }) }}
							<small class=" alert-danger"> {{ form_errors(registrationForm.plainPassword) }}</small>
										</div>
										<div class="form-group">
											<div class="d-flex align-items-center justify-content-between">
												<div class="flex-1">
													<input id="dd" class="checkbox-custom"  type="checkbox" name="{{ field_name(registrationForm.agreeTerms) }}" checked>
													<label for="dd" class="checkbox-custom-label"  >Agree Terms</label>
												</div>	
													
											</div>
										</div>
                                           
                                        <br></br>
										<div class="form-group">
											<button type="submit" class="btn btn-md full-width bg-sky text-light rounded ft-medium">Sign Up</button>
										</div>
										
										<!--<div class="form-group text-center mb-0">
											<p class="extra">Or Signup with</p>
											<div class="option-log">
												<div class="single-log-opt"><a href="javascript:void(0);" class="log-btn"><img src="assets/img/c-1.png" class="img-fluid" alt="" />Login with Google</a></div>
												<div class="single-log-opt"><a href="javascript:void(0);" class="log-btn"><img src="assets/img/facebook.png" class="img-fluid" alt="" />Login with Facebook</a></div>
											</div>
										</div>-->
										
										<div class="form-group text-center mt-4 mb-0">
											<p class="mb-0">Have You Already An account? <a href="{{ path('app_login')}}" class="ft-medium text-success">Sign In</a></p>
										</div>
                                        {{ form_rest(registrationForm) }}
									</form>
                                 
                                        {{ form_end(registrationForm) }}
                                 
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</section>	<!-- ======================= Login End ======================== -->
               {% endblock %}
		