{% extends "base.html.twig" %}
{% block body %}<body>

<!DOCTYPE html>
<html lang="en">

	
<!-- Mirrored from themezhub.net/goodup-live/goodup/event-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 17:15:11 GMT -->
<head>
	   <style>

	   </style>
		
    </head>
	
    <body>
	
    
			<section class="space min">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="sec_title position-relative text-center mb-5">
								
								<br><h2 class="ft-bold">Nouvelle reclamation</h2>
							</div>
						</div>
					</div>
				
			<!-- ======================= form ======================== -->
			
			<div class="container">

            {{ form_start(form, {'attr': {'class': 'form'}}) }}
            <div class="form-group">
                {{ form_label(form.NomReclamation, 'Votre Nom') }}
                {{ form_widget(form.NomReclamation, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.NomReclamation) }}
            </div>

            {{ form_start(form, {'attr': {'class': 'form'}}) }}
            <div class="form-group">
                {{ form_label(form.PrenomReclamation, 'Votre Prénom') }}
                {{ form_widget(form.PrenomReclamation, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.PrenomReclamation) }}
            </div>
        

        {{ form_start(form, {'attr': {'class': 'form'}}) }}
            <div class="form-group">
                {{ form_label(form.titreReclamation, 'Titre de la réclamation') }}
                {{ form_widget(form.titreReclamation, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.titreReclamation) }}
            </div>

            <div class="form-group">
                {{ form_label(form.emailReclamation, 'Email') }}
                {{ form_widget(form.emailReclamation, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.emailReclamation) }}
            </div>

            <div class="form-group">
                {{ form_label(form.descriptionReclamation, 'Description de la réclamation') }}
                {{ form_widget(form.descriptionReclamation, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.descriptionReclamation) }}
            </div>

           <br>
		    <button type="submit" class="btn btn-primary">Ajouter la reclamation</button>
        {{ form_end(form) }}
    </div>
			
		
	</body>

</html>
</body>
    {% endblock %} 