{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="mb-3">
                                                    <label for="projectname" class="form-label">Name</label>
                                                    {{ form_widget(form.productName,{ 'attr':{'class':'form-control','placeholder':'Enter product name ..'}}) }}
                                                    {{ form_errors(form.productName) }}
                                                </div>

                                                <div class="mb-3">
                                                    <label for="project-overview" class="form-label">Overview</label>
                                                    {{ form_widget(form.productDescription,{ 'attr':{'class':'form-control','placeholder':'Enter product description ..'}}) }}
                                                    {{ form_errors(form.productDescription) }}  
                                                </div>

                                                <div class="mb-3">
                                                    <label for="project-budget" class="form-label">Price</label>
                                                    {{ form_widget(form.productPrice,{ 'attr':{'class':'form-control','placeholder':'Enter product price ..'}}) }}
                                                    {{ form_errors(form.productPrice) }}
                                                </div>

                                            </div> <!-- end col-->

                                            <div class="col-xl-6">
                                                <!-- Date View -->
                                                <div class="mb-3 position-relative" id="datepicker2">
                                                    <label class="form-label">Photo</label>
                                                    {{ form_widget(form.productPhoto,{ 'attr':{'class':'form-control col-md-4','placeholder':'Enter product photo ..'}}) }}
                                                    {{ form_errors(form.productPhoto) }}
                                                </div>
                                            </div> <!-- end col-->
                                        </div>
                                        <!-- end row -->

                                    </div> <!-- end card-body -->
                                </div> <!-- end card-->
                            </div> <!-- end col-->
                        </div>
                        <!-- end row-->
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
