{% extends 'base.html.twig' %}

{% block title %}Produits index{% endblock %}

{% block body %}
    <h1>Produits index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdProduct</th>
                <th>ProductName</th>
                <th>ProductDescription</th>
                <th>ProductPhoto</th>
                <th>ProductPrice</th>
                <th>Addeddate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.idProduct }}</td>
                <td>{{ produit.productName }}</td>
                <td>{{ produit.productDescription }}</td>
                <td>{{ produit.productPhoto }}</td>
                <td>{{ produit.productPrice }}</td>
                <td>{{ produit.addeddate ? produit.addeddate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_produits_front_show', {'idProduct': produit.idProduct}) }}">show</a>
                    <a href="{{ path('app_produits_front_edit', {'idProduct': produit.idProduct}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produits_front_new') }}">Create new</a>
{% endblock %}
