{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <h1>Produits</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdProduct</th>
                <td>{{ produit.idProduct }}</td>
            </tr>
            <tr>
                <th>ProductName</th>
                <td>{{ produit.productName }}</td>
            </tr>
            <tr>
                <th>ProductDescription</th>
                <td>{{ produit.productDescription }}</td>
            </tr>
            <tr>
                <th>ProductPhoto</th>
                <td>{{ produit.productPhoto }}</td>
            </tr>
            <tr>
                <th>ProductPrice</th>
                <td>{{ produit.productPrice }}</td>
            </tr>
            <tr>
                <th>Addeddate</th>
                <td>{{ produit.addeddate ? produit.addeddate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_produits_front_index') }}">back to list</a>

    <a href="{{ path('app_produits_front_edit', {'idProduct': produit.idProduct}) }}">edit</a>

    {{ include('produits_front/_delete_form.html.twig') }}
{% endblock %}
