{% extends 'base.html.twig' %}

{% block body %}
<br>
<section>
    <div class="rounded mb-4">
        <div class="jbd-01 text-center"> <!-- Centering content -->
            <div class="tbd-title">
                <h5 class="ft-medium fs-md">Nom evenement:</h5>
                <p>{{ event.nomEvent }}</p>
            </div>

            <div class="jbd-details mb-4">
                <h5 class="ft-medium fs-md">Date début:</h5>
                <p>{{ event.dateDebut ? event.dateDebut|date('Y-m-d') : 'N/A' }}</p>
            </div>
            <div class="jbd-details mb-4">
                <h5 class="ft-medium fs-md">Date fin:</h5>
                <p>{{ event.dateFin ? event.dateFin|date('Y-m-d') : 'N/A' }}</p>
            </div>

            <div class="jbd-details mb-3">
                <h5 class="ft-medium fs-md">Passes:</h5>

                {% if passes|length > 0 %}
                <ul style="list-style-type: none; padding: 2px;">
                    {% for pass in passes %}
                    <li style="background-color: #f4f4f4; margin-bottom: 10px; padding: 5px; border-radius: 3px;">
                        <strong>Pass Type:</strong> {{ pass.type }}<br>
                        <strong>Price:</strong> {{ pass.prixPass }}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>Pas de passes</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}