{% extends "baseBackU.html.twig" %}

{% block head %}
    {{ parent() }}
    {# Add your CSS stylesheets for the second form here #}
{% endblock %}

{% block css %}
    {{ parent() }}
    {# Add your additional CSS styles for the second form here #}
{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <br><br><br><br><br><br><br>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">

                {{ form_start(form, {'attr': {'class': 'text-center'}}) }}
                {{ form_errors(form) }}

                {{ form_row(form.nomEvent, {'attr': {'class': 'form-control mb-3', 'style': 'text-align: center;' }}) }}
                {{ form_row(form.typeEvent, {'attr': {'class': 'form-control mb-3', 'style': 'text-align: center;' }}) }}
                {{ form_row(form.nbrParticipants, {'attr': {'class': 'form-control mb-3', 'style': 'text-align: center;' }}) }}
                {{ form_row(form.dateDebut, {'attr': {'style': 'text-align: center;' }}) }}
                {{ form_row(form.dateFin, {'attr': {'style': 'text-align: center;' }}) }}

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        Confirm
                    </button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
