{% extends "base.html.twig" %}

{% block body %}
    <body>
        <br> <br> <br>
        <section class="space min">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="sec_title position-relative text-center mb-5">
                            <h2 class="ft-bold">List d'evenements</h2>
                        </div>
                    </div>
                </div>

                <html>
                    <head>
                        <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

                        <style>
                            h2 {
                                color: #444444
                            }

                            .align-center {
                                text-align: center;
                            }

                            .align-right {
                                text-align: right;
                            }

                            table {
                                width: 100%;
                            }

                            th, td {
                                border: 1px solid #ddd;
                                padding: 8px;
                            }

                            th {
                                background-color: #f2f2f2;
                            }

                            .qr-code-container {
                                display: flex;
                                justify-content: center; /* Center horizontally */
                                align-items: center; /* Center vertically */
                                height: 100%;
                            }
                        </style>
                    </head>
                    <body>
                        <table>
                            <thead>
                                <tr>
                                    <th class="align-center"> Nom</th>
                                    <th class="align-center"> Date début</th>
                                    <th class="align-center"> Date fin</th>
                                    <th class="align-center"> Type</th>
                                    <th class="align-center"> QR Code</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for event in events %}
                                    <tr>
                                        <td class="align-center">{{ event.nomEvent }}</td>
                                        <td class="align-center">{{ event.dateDebut ? event.dateDebut|date('d-m-Y') : '' }}</td>
                                        <td class="align-center">{{ event.dateFin ? event.dateFin|date('d-m-Y') : '' }}</td>
                                        <td class="align-center">{{ event.typeEvent }}</td>
                                        <td class="align-center qr-code-container" id="qr-code-{{ event.id }}"></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                       

                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                {% for event in events %}
                                    var eventId = {{ event.id }};
                                    var baseUrl = "http://127.0.0.1:8000";  
                                    var link = "{{ path('app_event_details', {'id': event.id})}}";
                                    var absoluteLink = baseUrl + link;
                                    var qrText{{ event.id }} = absoluteLink;

                                    var qrcode{{ event.id }} = new QRCode(document.getElementById("qr-code-{{ event.id }}"), {
                                        text: qrText{{ event.id }},
                                        width: 100,
                                        height: 100
                                    });
                                {% endfor %}
                            });
                        </script>
                    </body>
                </html>
            </div>
        </section>
    </body>
{% endblock %}
