											
												{% extends "base.html.twig" %}
                                                {% block body %}<body><br> <br> <br>
                                               
			<section class="space min">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="sec_title position-relative text-center mb-5">
								
								<h2 class="ft-bold">List d'evenements</h2>
							</div>
						</div>
					</div>

   <!DOCTYPE html>
<html 
<head>    

    <style>
    
    h2{
        color : #444444
    }
     .align-center {
            text-align: center;
        }

          .align-right {

            text-align: right;
        }
        table {
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr: hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>

<style>
    head{
        background-color:#A9A9A9

    }
       h1{color:#444444}
       
        table {
            width: 100%;
             border-collapse: collapse
        }
          .align-center {
            text-align: center;
        }
          .align-right {

            text-align: right;
        }
       
        th, td {
            border: 1px solid #ddd;
            padding: 7px;
            text-align: left;
        }

        th {
            
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        
    </style>

    <table class="align-right">
        <thead>
            <tr>
                <th class="align-center"> Id</th>
                <th class="align-center"> Nom</th>
                <th class="align-center"> Date début</th>
                <th class="align-center"> Date fin</th>
                <th class="align-center"> Type</th>
                <th class="align-center"> Participants</th>
                <th class="align-center"> Action</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td class="align-center">{{ event.idEvent }}</td>
                    <td class="align-center">{{ event.nomEvent }}</td>
                    <td class="align-center">{{ event.dateDebut ? event.dateDebut|date('d-m-Y') : '' }}</td>
                    <td class="align-center">{{ event.dateFin ? event.dateFin|date('d-m-Y') : '' }}</td>
                    <td class="align-center">{{ event.typeEvent }}</td>
                    <td class="align-center">{{ event.nbrParticipants }}</td>
                    <td class="align-center">
                        <form action="{{ path('edit_event', {'id': event.idEvent}) }}" method="get">
                            <button type="submit">Modifier</button>
                        </form>
                        <div>
                        <form action="{{ path('delete_event', {'id': event.idEvent}) }}" method="post" onsubmit="return confirm('Supprimer l'evenement?');">
                            <button type="submit">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table><br>
    
        <form action="{{ path('app_evenement_create')}}" method="get">
            <button type="submit">Ajouter</button>
        </form>
        
        </body>
       {% endblock %} 