{% extends "baseBack.html.twig" %}

{% block head %}
 {{ parent() }}

        
{% endblock %}
{% block css %}
 {{ parent() }}

        
{% endblock %}
{% block navbar %}
 {{ parent() }}

        
{% endblock %}
{% block sidebar %}
 {{ parent() }}

        
{% endblock %}
{% block body %}
 {{ parent() }}
 <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">
   <div class="row">
                    <div class="col-12">
                        <div class="card">
                        <input type="text" name="search" id="search" placeholder="Search..." style="width: 150px; "/>
                     <div id="userTable">    
        {% include 'admin/listAjax.html.twig' with {'users': users} %}
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
          <script>
              $(document).ready(function() {
        $('#search').on('input', function() {
            var search = $(this).val();

            $.ajax({
                url: "{{ path('app_user_search') }}",
                type: "POST",
                data: { search: search },
                success: function(data) {
                    $("#userTable").html(data);
                }
            });
        });
    });
            </script>
                        </div> <!-- end card -->
                    </div> <!--end col-->
                </div>
                </div>
                </div>
                </div>
 {% endblock %}