{% extends "baseBack.html.twig" %}

{% block head %}
 {{ parent() }}

        
{% endblock %}
{% block css %}
 {{ parent() }}
<link href="{{asset("/back/coderthemes.com/adminto/layouts/assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css")}}" rel="stylesheet" type="text/css" />
        <link href="{{asset("/back/coderthemes.com/adminto/layouts/assets/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css")}}" rel="stylesheet" type="text/css" />
        <link href="{{asset("/back/coderthemes.com/adminto/layouts/assets/libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css")}}" rel="stylesheet" type="text/css" />
        <link href="{{asset("/back/coderthemes.com/adminto/layouts/assets/libs/datatables.net-select-bs5/css/select.bootstrap5.min.css")}}" rel="stylesheet" type="text/css" />
        
{% endblock %}
{% block navbar %}
 {{ parent() }}

        
{% endblock %}
{% block sidebar %}
 {{ parent() }}

        
{% endblock %}
{% block body %}
 {{ parent() }}
 <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">
   <div class="row">
                    <div class="col-12">
                        <div class="card">
                         <div class="row">
                         <div class="card-body">
                          <div class="col-md-6" >
                           <label class="mb-1 fw-bold text-muted">Search users</label>
                                                <input type="search" name="search" placeholder="Search.." id="search" class="form-control" style=" z-index: 2; background: transparent; " />
                                                <input type="text" name="username" id="autocomplete-ajax-x" disabled="disabled" class="form-control" style="display: none;" />
                                            </div>
                        
                     <div id="userTable">    
        {% include 'admin/listAjax.html.twig' with {'users': users} %}
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        
       <script>
    $(document).ready(function() {
    var dataTable;

    function initDataTable() {
        // Destroy the existing DataTable instance
        if (dataTable) {
            dataTable.destroy();
        }

        // Initialize DataTable after a short delay
        setTimeout(function() {
            dataTable = $('#datatable-buttons').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf'
                    // Add other DataTable options as needed
                ],
                searching: false
            });

            // Hide the default DataTables search input
            $('.dataTables_filter').hide();
        }, 200); // 200 milliseconds delay
    }

    // Initial DataTable initialization
    initDataTable();

    $('#search').on('input', function() {
        var search = $(this).val();

        $.ajax({
            url: "/admin/users/search",
            type: "POST",
            data: { search: search },
            success: function(data) {
                // Update the content
                $("#userTable").html(data);

                // Reinitialize DataTable
                initDataTable();
            }
        });
    });
});

            </script></div>
                        </div> <!-- end card -->
                    </div> <!--end col-->
                </div>
                </div>
                </div>
                </div>
                </div>
 {% endblock %}