{% extends 'baseFront.html.twig' %}

{% block content %}

<div class="container mt-5">
     <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                 <div class="card-header bg-primary text-white">Reservez Une Course</div>
                 <div class="card-body">
          
    {% if errorMessage %}
                    <div class="alert alert-danger">
                        <p>{{ errorMessage }}</p>
                    </div>
                    {% endif %}
          
                    {{ form_start(form) }}

                    <div class="mb-3">
                        {{ form_row(form.destination) }}
                        {% if form_errors(form.destination)|length > 0 %}
                        <div class="alert alert-danger">
                            <ul style="color: white;">
                                {% for error in form_errors(form.destination) %}
                                <li>{{ error.message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form_row(form.depart) }}
                        {% if form_errors(form.depart)|length > 0 %}
                        <div class="alert alert-danger">
                            <ul style="color: white;">
                                {% for error in form_errors(form.depart) %}
                                <li>{{ error.message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>




                  <div class="mb-3">
                        {{ form_row(form.date) }}
                        {% if form_errors(form.date) %}
                        <div class="alert alert-danger">
                            <ul style="color: white;">
                                {% for error in form_errors(form.date) %}
                                <li>{{ error.message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form_row(form.nbPersonne) }}
                        {% if form_errors(form.nbPersonne)|length > 0 %}
                        <div class="alert alert-danger">
                            <ul style="color: white;">
                                {% for error in form_errors(form.nbPersonne) %}
                                <li>{{ error.message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>

                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary" style="background-color: red; border-color: red;">Ajouter la course</button>
                                  <a href="javascript:history.go(-1);" class="btn btn-secondaryr"><i class="bi bi-arrow-left"></i> Retour</a>
                    
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
  </div>
        </div> <!-- container -->
    </div> <!-- content -->
</div>
{% endblock %}
