<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>

<body>
<h1> Postule de  {{postule.getPrenom()}} {{postule.getNom()}} </h1>

<p> Email : {{postule.getEmail()}}</P>
<p> Sujet : Postule pour un poste de chauffeur</P>
<p> Informations :</P>
<div>
Nom :
{{postule.getNom()}}
</div>
<div>
Prenom:
{{postule.getPrenom()}}
</div>
<div>
Age :
{{postule.getAge()}}
</div>
<div>
Numero :
{{postule.getNumero()}}
</div>

</body>
</html>