{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
  <br><br><br><br>
 <center><h1>posts</h1></center>
 <br><br>
<div class="row justify-content-center">
					
						<!-- Single -->
                        {% for post in posts %}
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="Goodup-grid-wrap">
								<div class="Goodup-grid-upper">
									<div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
									
									<div class="Goodup-grid-thumb">
										<a href="single-listing-detail-3.html" class="d-block text-center m-auto"><img src="{{ asset('uploads/' ~ post.image) }}" alt=""></a>
									</div>
									<div class="Goodup-rating overlay">
										
									</div>
								</div>
								<div class="Goodup-grid-fl-wrap">
									<div class="Goodup-caption px-3 py-2">
										
										<h4 class="mb-0 ft-medium medium"><a href="single-listing-detail-3.html" class="text-dark fs-md">{{ post.titre }}</i></span></a></h4>
										<div class="Goodup-middle-caption mt-2">
											<p>{{ post.description }}</p>
											<div class="Goodup-facilities-wrap mb-0">
												<div class="Goodup-facility-title">{{ post.datepost ? post.datepost|date('Y-m-d') : '' }}</div>
												
											</div>
										</div>
									</div>
									<div class="Goodup-grid-footer py-2 px-3">
										<div class="Goodup-ft-first">
											<div class="Goodup-location"><i class="fas fa-map-marker-alt me-1 theme-cl"></i>{{ post.localisation }}</div>
										</div>
										<div class="Goodup-ft-last">
											<div class="Goodup-inline">
												<div class="Goodup-bookmark-btn"><button type="button"><a href="{{ path('app_postcom', {'idPost': post.id}) }}"><i class="lni lni-envelope position-absolute"></a></i></button></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						{% endfor %}
					</div>
                    
                    {% endblock %}