
	{% extends 'base.html.twig' %}
	
    {% block body %}
	<div class="article_detail_wrapss single_article_wrap format-standard">
	<section class="about_us_area section_gap_top">
			<div class="container">
				<div class="row about_content align-items-center">
					
						<div class="section_content">
						
                        
						
						<div class="date">
						<center><i class="fa fa-calendar" style="margin-right: 5px;"aria-hidden="true"></i>{{post.datePost.format('d/m/y')}} </center>
						<br>
						<center><font size ="7" color="red"<p >{{post.titre}} </p></font></center>
						<center>	<img src="{{ asset('uploads/' ~ post.image) }}" alt="" width="850" height="450"  ></center>
							 <br>
					   <center > <font size ="5" color="grey"<p>{{post.description}}</p></font></center>
					   <br>
					   <br>
						 <h1 style="color:red">list of comments</h1>	
			<div class="article_detail_wrapss single_article_wrap format-standard">				
		   
		{% if commentaire | length == 0 %}
			   <p> no comments yet </p>
			   {% endif %}
			{% for p in commentaire %}
			  
			

				<div class="jbd-details mb-4">
										
										<div class="reviews-comments-wrap">
										
											<!-- reviews-comments-item -->  
											
											<!--reviews-comments-item end-->  
											
											<!-- reviews-comments-item -->  
											<div class="reviews-comments-item">
												<div class="review-comments-avatar">
													<img src="{{ asset('uploads/images/' ~ p.user.img) }}" class="img-fluid" alt=""> 
												</div>
												<div class="reviews-comments-item-text">
													<h4><a href="#">{{p.user.username}}</a><span ><br><i class="ti-calendar theme-cl me-1"></i>{{p.datecom ? p.datecom|date('Y-m-d') : '' }}</span></h4>
													
													<div class="clearfix"></div>
													
													<div class="clearfix"></div>
													<br>
													<p>"{{p.description}}"</p>
													<div class="pull-left reviews-reaction">
														
													</div>
												</div>
											</div>

											<!--reviews-comments-item end-->
											
											<!-- reviews-comments-item -->  
											
											<!--reviews-comments-item end-->
											
											
										
										</div>
									</div>
							
					{% endfor %}
                    
		              
		             
<div class="article_detail_wrapss single_article_wrap format-standard">
   
<br>
           
						{{ include('commentaire/_form.html.twig') }}
						<br>
						
						<button class="btn btn-primary btn-sm"style="background-color:orange;border-color: white;color:white;"><a href="{{path('app_post_index')}}">back to Posts</a></button>
					
					</div>

					
				</div>
				
							
							
							
					
					
					
				</div>
			</div>
		</section>
					
							
				
				

                      
					     
					
							</div> <br>
						</div>
						
					</div>
				</div>
				

				</div>
			</div>
			
        </div>

			<br>
			<br>





							</div>
	 {% endblock %}