
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Post Print</title>
    <link rel="stylesheet" href="/style.css" media="all" />
</head>
<body>
<header class="clearfix">
    <h1 class="logo me-auto" style="color:green">AL9ANI</h1>
    <h1 align="center"> Liste des Posts </h1>
    <hr></hr>
    
    <table class="table table-bordered" style="border-color:black;width:70%;margin-left:15%">
        <thead>
             <tr>
                <th style="background-color:red;color:white">Description</th>
                <th style="background-color:red;color:white">Titre</th>
                <th style="background-color:red;color:white">Date</th>

                <th style="background-color:red;color:white">Localisation</th>
                <th style="background-color:red;color:white">Image</th>
              
            </tr>
        </thead>
        <tbody>
        {% for contrat in posts %}
            <tr>
                <td>{{ contrat.description }}</td>
                <td>{{ contrat.titre }}</td>
                <td>{{ contrat.datepost ? contrat.datepost|date('Y-m-d') : '' }}</td>
                
                 <td>{{ contrat.localisation }}</td>
                 <td>{% set imagePath = absolute_url('uploads/' ~ contrat.image) %}
<img src="{{ imagePath }}" width="100" height="100"></td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</header>
</main>
<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>AL9ANI</h3>
            <p>
              Ghazela,Ariana,Tunisia <br>
              <strong>Phone:</strong> +216 52724070<br>
              
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Al9ANI</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End F

</body>