{% extends 'baseback.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1 style="margin-left:25%">Post</h1>

    <table class="table table-bordered" style="border-color:black;width:50%;margin-left:25%">
        <tbody>
           
            <tr>
                <th style="background-color:red;color :white;width:150px">Description</th>
                <td>{{ post.description }}</td>
            </tr>
            <tr>
                <th style="background-color:red;color :white;width:150px">Titre</th>
                <td>{{ post.titre }}</td>
            </tr>
            <tr>
                <th style="background-color:red;color :white;width:150px">Datepost</th>
                <td>{{ post.datepost ? post.datepost|date('Y-m-d') : '' }}</td>
            </tr>
             <tr>
                <th style="background-color:red;color :white;width:150px">Image</th>
            <td><img src="{{ asset('uploads/' ~ post.image) }}" alt=""widht="100 px" height="100 px"></td>
             </tr>
             <tr>
                <th style="background-color:red;color :white;width:150px">Localisation</th>
                <td>{{ post.localisation }}</td>
            </tr>
        </tbody>
    </table>

   <button class="btn btn-success btn-sm" style="color:black;margin-left:25%"> <a style="color:white" href="{{ path('app_postback_index') }}">back to list</a>

   <button class="btn btn-primary btn-sm" style="color:black;margin-left:5%"> <a style="color:white" href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
