<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}Admin - Gestion Uber{% endblock %}</title>
    
   
    {% block stylesheets %}
    <link rel="shortcut icon" href="{{ asset("assets/admin/images/favicon.ico") }}">
   
    <link href="{{ asset("assets/admin/css/app.min.css") }}" rel="stylesheet" type="text/css" id="app-style" />
   
    <link href="{{ asset("assets/admin/css/icons.min.css") }}" rel="stylesheet" type="text/css" />


    
    {% endblock %}
</head>
<body class="loading" data-layout-color="light"  data-layout-mode="default" data-layout-size="fluid" data-topbar-color="light" data-leftbar-position="fixed" data-leftbar-color="light" data-leftbar-size='default' data-sidebar-user='true'>
<div id="wrapper">

         
            <div class="navbar-custom">
                    <ul class="list-unstyled topnav-menu float-end mb-0">

                        <li class="d-none d-lg-block">
                         <h4 class="page-title-main">Gestion Uber</h4>
                        </li>
                </ul>
     </div>
            <!-- end Topbar -->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left-side-menu">

                <div class="h-100px" >

                     <!-- User box -->
                    <div class="user-box text-center">

                        <img src="{{ asset('assets/admin/images/users/yass.jpeg') }}" alt="user-img" title="Mat Helme" class="rounded-circle img-thumbnail avatar-md">
                            <div class="dropdown">
                                <a href="#" class="user-name dropdown-toggle h5 mt-2 mb-1 d-block" data-bs-toggle="dropdown"  aria-expanded="false">Yassin Khelifi</a>
                                
                            </div>

                        <p class="text-muted left-user-info">Admin </p>

                        <ul class="list-inline">
                          

                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="mdi mdi-power"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">

                        <ul id="side-menu">

                            

                            <li class="menu-title mt-2">UBER</li>

                            <li>
                                <a href="{{ path('calendrier_index') }}">
                                    <i class="mdi mdi-calendar-blank-outline"></i>
                                    <span> Calendar </span>
                                      
                                </a>
                            </li>

                        

                           

                            <li>
                                <a href="#sidebarTasks" data-bs-toggle="collapse">
                                    <i class="mdi mdi-clipboard-outline"></i>
                                    <span> Tasks </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sidebarTasks">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href= "task-kanban-board.html">Kanban Board</a>
                                        </li>
                                        <li>
                                            <a href="task-details.html">Details</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                          

                           
                           
                        </ul>

                    </div>
                    <!-- End Sidebar -->

                    <div class="clearfix"></div>

                </div>
             

            </div>
            

            

    {% block body %}{% endblock %}
 
 
<div class="container mt-5">
</div>


 <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> &copy; Admin theme Hexa-Minds 
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-end footer-links d-none d-sm-block">
                                    <a href="javascript:void(0);">About Us</a>
                                    <a href="javascript:void(0);">Help</a>
                                    <a href="javascript:void(0);">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->
  
   {% block javascripts %}
    <script src="{{ asset("assets/admin/libs/jquery/jquery.min.js") }}"></script>
    <script src="{{ asset("assets/admin/libs/bootstrap/js/bootstrap.bundle.min.js") }}"></script>
    <script src="{{ asset("assets/admin/libs/simplebar/simplebar.min.js") }}"></script>
    <script src="{{ asset("assets/admin/libs/node-waves/waves.min.js") }}"></script>
    <script src="{{ asset("assets/admin/libs/waypoints/lib/jquery.waypoints.min.js") }}"></script>
    <script src="{{ asset("assets/admin/libs/jquery.counterup/jquery.counterup.min.js") }}"></script>
    <script src="{{ asset("assets/admin/libs/feather-icons/feather.min.js") }}"></script>
    <!-- Include Google Charts API -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 
    <script src="{{ asset("assets/admin/js/app.min.js") }}"></script>
    {% endblock %}
</body>
</html>
